/*B one-target the anchor tag a change the color*/
nav a{
    color:green;
}

/*B two-target the first h2 tag and change the text 
and background color*/
nav>h2{
    color:red;
    background-color: snow;
}
/*B three-target the first p tag and change the
text to red*/
u1+p{
    color:red;
}
/*C one-target the anchor tag with attribute "href"
and chnage color to red and remove the text underline*/
a[href]{
    color: red;
    text-decoration: none;
}

/*C two-Traget the anchor tag with the attribute of class name "active",
change the text color and provvide the text style [roperties with
underlining.*/
a[class="active"]{
    color:blue;
    text-decoration:underline;
}
/*C three- Target the anchor tag with attribute of class target
whose value is "_self" and change the background color .*/
a[target="_self"]{
    background-color: grey;
}
/*D one- target the last <p> tag and add"...." after its value*/
p:last-child::after{
    content: "...";
}
/*D  two- target the list bullet points and change the
color of the bullet points*/
li::marker{
    color:green;
}
/*D three- Among the three p tag target the 2nd p tag, select the first letter
of the second p tag and change the color to red also increase the font size to 30px*/
p:nth-child(even)::first-letter{
    color: red;
    font-size: 30px;
}